
/*Estilos Generales*/
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


/*Estilos Navbar*/
.nav-menu{
  position: fixed;
  margin-top: 3vw;
}
/*Estilos botones*/
.category-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px; 
  max-width: 600px; 
  margin: 0 auto; 
}
.category-buttons .btn {
  padding: 12px;
  font-size: 16px;
  background: #f0f0f0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.category-buttons .btn:hover {
  background: #194c99;
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}
/*Estilo titulos y descripciones*/
.title-center {
  text-align: center;
}
.decription{
  font-size: 1.3rem;
  color: #333;
 
}
/*Estilos banner*/
.carrusel-bootstrap{
  text-align: center;
  margin-top: 100px;
  background-color:#95dbd4;
  width: 100%;
}
.carousel-indicators {
  bottom: -40px !important; /* baja los indicadores debajo de la imagen */
}
/*Estilos modals*/
.modal-dialog{
  width: 80% !important;
  max-width: none !important;
}
.separator {
  width: 60%;
  margin: 30px auto;
  border: none;
  border-top: 2px solid #1f4a7a;
}
.separatorModulos {
  width: 30%;
  margin: 10px auto;
  border: none;
  border-top: 1px solid #1f4a7a;
}
.descripcion {
  margin: 20px auto;      /* centra horizontalmente */
  padding: 20px;          /* espacio interno */
  text-align: center;     /* texto centrado */
  font-size: 1.1rem;      /* tamaño agradable */
  line-height: 1.6;       /* buena separación entre líneas */
  background-color: #ffffff;  /* fondo blanco */
  border-radius: 12px;    /* bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* sombra elegante */
  color: #333333;         /* texto oscuro */
  font-family: "Roboto", sans-serif; /* tipografía moderna */
}
.descripcion-intro{
width:90%;       /* limita el ancho para que sea más legible */
}
.descripcion-texto{
  max-width: 700px;       /* limita el ancho para que sea más legible */

}
.descripcion-texto h2, 
.descripcion-texto h3 {
  margin-bottom: 10px;
  color: #1f4a7a; /* color acorde con tus separadores */
  font-weight: bold;
}
