

/*Estilos Navbar*/
.nav-menu{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #95dbd4;
  z-index: 1000;
}
.nav-menu button{
  background-color: #95dbd4;
  color: #1f4a7a;
  border: none;
  padding: 15px 35px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  
}
.nav-menu button:hover {
  background-color:#c2fff9;
}

/*Estilos banner*/
.banner {
  text-align: center;
  margin-top: 80px;
  background-color:#95dbd4;
  width: 100%;

}
.carrusel{
  position:relative;
  width: 100%;
  max-width: 1000px;
  margin:0 auto;
  padding: 5px 5px;
}
.imagen-carrusel{
  max-width: 100%;
  height: auto;
}
.punto{
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  margin: 5px;  
  cursor: pointer;
  transition:background-color 0.3s ease;
}
.punto.activo {
  background-color: #0077cc;
}